<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="walks" href="/tabs/walks">
      <ion-icon name="navigate"></ion-icon>
      <ion-label>Walks</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="social" href="/tabs/social">
      <ion-icon name="chatbubble"></ion-icon>
      <ion-label>Social</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="health" href="/tabs/health">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Health</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
